# Node.js/NestJS
dist/
node_modules/
package-lock.json
yarn.lock

# PHP/Composer
vendor/
composer.lock
.env

# Firebase
firebase.json
firestore.rules
serviceAccountKey.json

# Ambientes Virtuais Python (caso use futuramente)
venv/
__pycache__/

# Arquivos de sistema/macOS e Windows
.DS_Store
Thumbs.db

# Configurações de IDEs e editores
.vscode/
.idea/

# Logs e arquivos temporários
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
